@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

*{
  font-family: outfit;
  font-family: ovo;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@theme {
  --color-lightHover:#fcf4ff;
  --color-darkHover:#2a004a;
  --color-darkTheme:#11001f;
}